.swal2-container {
    z-index: 2100 !important;
}

.student-registered {
    box-shadow: 0px 0px 0px 3px #ffe600;
}
.student-registered.is-event .fc-content:before,
.student-registered:not(.is-event) .fc-time:before {
    /* box-shadow:0px 0px 0px 3px #3cb394; */
    font-family: "FontAwesome";
    content: "\f25d";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.student-registered .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f25d";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.student-signedin.is-event .fc-content:before,
.student-signedin:not(.is-event) .fc-time:before {
    font-family: "FontAwesome";
    content: "\f058";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}

.student-signedin .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f058";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.student-full-penalty-cancel.is-event .fc-content:before,
.student-full-penalty-cancel:not(.is-event) .fc-time:before {
    font-family: "FontAwesome";
    content: "\f057";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.student-full-penalty-cancel .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f057";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.student-cancel.is-event .fc-content:before,
.student-cancel:not(.is-event) .fc-time:before {
    font-family: "FontAwesome";
    content: "\f00d";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.student-cancel .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f00d";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.student-waitlisted.is-event .fc-content:before,
.student-waitlisted:not(.is-event) .fc-time:before {
    font-family: "FontAwesome";
    content: "\f251";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.student-waitlisted .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f251";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.empty-class.is-event .fc-content:before,
.empty-class:not(.is-event) .fc-time:before {
    font-family: "FontAwesome";
    content: "\f06a";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.empty-class .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f06a";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.birthday-event {
    border-color: #1a97b3;
}
.birthday-event .fc-title:before {
    font-family: "FontAwesome";
    content: "\f06b";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}
.birthday-event .fc-list-item-marker:after {
    font-family: "FontAwesome";
    content: "\f06b";
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
}
.fc-day {
    &.school-off-day-all-day {
        background-color:#ef7a7a;
    }
}
.waitlisted-class {
    box-shadow: 0px 0px 0px 3px #ffed4a;
}

.class_usage_taiken {
    box-shadow: 0px 0px 0px 3px #3ca3b3;
}

/* For Sorting Functionality */
.collumn_sort {
    cursor: pointer;
}
.collumn_sort.asc:after {
    content: "\f0de";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #3c8dbc;
}
.collumn_sort.desc::after {
    content: "\f0dd";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #3c8dbc;
}
.collumn_sort:not(.desc):not(.asc):after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    color: #b6b6ce;
}
/* Icon replacement for bootstrap date time picker */
.fa,
.glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.glyphicon-calendar:before,
.fa-calendar:before {
    content: "\f073";
}
.glyphicon-chevron-left:before,
.fa-chevron-left:before {
    content: "\f053";
}
.glyphicon-chevron-right:before,
.fa-chevron-right:before {
    content: "\f054";
}
.glyphicon-time:before,
.fa-clock-o:before {
    content: "\f017";
}
.glyphicon-chevron-up:before {
    content: "\f077";
}
.glyphicon-chevron-down:before {
    content: "\f078";
}
/* for Bootstrap multi level dropdown */
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/* For Custom Dropdown Selection implementation */
.custom-dropdown .search_input {
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
}
.custom-dropdown .search_input:focus {
    outline: 3px solid #ddd;
}
.custom-dropdown {
    background-color: #f6f6f6;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
}
.custom-dropdown div {
    color: black;
    padding: 5px;
    text-decoration: none;
}
.custom-dropdown .option-item {
    display: none;
    cursor: pointer;
}
.custom-dropdown .option-item:hover {
    border: 1px solid #ddd;
    border-radius: 3px;
}
.custom-dropdown .option-item.active,
.custom-dropdown .selected_value_text {
    background: #3cb394;
    color: white;
    border-radius: 3px;
}
.custom-dropdown .option-item.visible {
    display: block;
}
.class-usage-info {
    background: #fefefe;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
}
.class-usage-info.active {
    border: 2px solid #3cb394;
}
.rest-month-row {
    background-color: #ecb3b1 !important;
}
.rest-month-row:hover {
    background-color: #f39c99 !important;
}
.fc-list-empty-wrap2 {
    position: inherit !important;
}
.fc-button-group {
    margin: 5px !important;
}
.fc-event.greyedPastClass {
    background-color: #c0c0c0 !important;
    border-color: #c0c0c0 !important;
}
/* Fullcalendar custom list view css */
/* .custom-list-view td {
      padding: 4px 6px !important;
  }
  .fc-unthemed .fc-list-item:hover td{
      background-color: transparent !important;
      color: inherit;
  }
  .custom-list-view {
      font-size: .85em;
      line-height: 1.3;
      border-radius: 3px;
      margin: 1px 2px 0;
  }
  .custom-list-view :hover{
      color: inherit;
  } */
/* Select2 Custom css to match ui with theme */
.select2-selection.select2-selection--single {
    height: calc(2.09375rem + 2px) !important;
    padding: 0.4375rem 0.75rem !important;
    font-size: 0.8125rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #e1e5eb !important;
    font-weight: 300 !important;
    will-change: border-color, box-shadow !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: box-shadow 250ms !important;
}
.select2-selection.select2-selection--multiple {
    padding: 0.4375rem 0.75rem !important;
    font-size: 0.8125rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #e1e5eb !important;
    font-weight: 300 !important;
    will-change: border-color, box-shadow !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: box-shadow 250ms !important;
}
.select2-selection__rendered {
    font-weight: normal !important;
    display: block !important;
    white-space: pre !important;
    min-height: 1.2em !important;
    line-height: 1.5 !important;
    font-size: 0.8125rem !important;
    color: #495057 !important;
    font-weight: 300 !important;
    padding: 0px 2px 1px !important;
}
.select2-results {
    font-size: 0.8125rem !important;
    color: #495057 !important;
    font-weight: 400 !important;
}
.select2-search__field {
    font-size: 0.8125rem !important;
    color: #495057 !important;
    font-weight: 400 !important;
}
.select2-results__option {
    padding: 0px 10px 2px 13px !important;
}
.select2-search--dropdown {
    padding: 7px 10px 4px 10px !important;
}
.select2-dropdown {
    border: 1px solid #e1e5eb !important;
    border-top: none !important;
}
.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
    .select2-selection--multiple {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 30px !important;
}
.select2-container *:focus {
    outline: none;
    border: 1px solid #3cb394 !important;
}
.select2-selection.select2-selection--multiple *:focus {
    outline: none;
    border: none !important;
}
/* END of Select2 Custom css to match ui with theme */
/* Full calendar v4 custom CSS */
.fc-event-dragable {
    background-color: #1ab394 !important;
    border-color: #1ab394 !important;
}
.fc-day-grid-event {
    padding-top: 4px !important;
    padding-right: 6px !important;
    padding-bottom: 4px !important;
    padding-left: 6px !important;
}
.fc-toolbar.fc-header-toolbar .btn.btn-primary:not(.active) {
    color: inherit !important;
    background-color: inherit !important;
    border: 1px solid #e7eaec;
}
/* To Fix only A1 appers on week view form "A1 Interchange" */
.fc-time-grid-event.fc-event.fc-start.fc-end {
    margin-right: 5px !important;
}
.fc-toolbar.fc-header-toolbar .btn-group {
    margin: 5px !important;
    display: inline-block;
}
.fc-toolbar.fc-header-toolbar .fc-right {
    text-align: right !important;
}
.fc-toolbar.fc-header-toolbar .fc-left {
    text-align: left !important;
}
/* Fix select2 not appearing on bootsratp modal */

.student-tags-select2 {
    z-index: 99999 !important;
}

//fix for vue-bootsrap toast apears behind nav bar
.b-toaster.b-toaster-top-right {
    z-index: 2060;
}

// fix for navbar not scrollable on mobile
nav.navbar.fixed-top {
    max-height: 100%;
    overflow-y: auto;
}
@media (min-width: 992px) {
    nav.navbar.fixed-top {
        overflow-y: visible;
    }
}
.form-group.required  span{
    color: red;
}
.toggle-group label.btn.btn-default{
    background-color: #fff;
}
/* Light Box  */
.lightbox {
    background-color: fade(black, 80%);  
    overflow: scroll;
    position: fixed;
    display: none;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    
    &-container {
      position: relative;
      max-width: 960px;
      margin: 7% auto;
      display: block;    
      padding: 0 3%;
      height: auto;
      z-index: 10;
      
      // Increasing top margin for mobile
      @media screen and (max-width: 768px) { margin-top: 10%; }
      @media screen and (max-width: 414px) { margin-top: 13%; }
    }
      
    &-content {
      box-shadow: 0 1px 6px fade(black, 70%);
    }
    
    &-close {
      text-transform: uppercase;    
      background: transparent;
      position: absolute; 
      font-weight: 300;      
      font-size: 12px;
      display: block;
      border: none;
      color: white;
      top: -22px;
      right: 3%;
    }
  }
  
  .video-container {  
      padding-bottom: 56.25%;
      position: relative;  
      padding-top: 30px; 
      overflow: hidden;
      height: 0; 
  }
  
  .video-container iframe,
  .video-container object,
  .video-container embed {
      position: absolute;
      height: 100%;  
      width: 100%;  
      left: 0;  
      top: 0;
  }
/* Light Box  */
.dropdown-menu form.delete {
    display: block;
}


/*****Comment Listing*****/
span.comments-details {
    display: inline-block;
    width: 100%;
    padding: 0px 20px;
}

span.comments-details ul.nav.nav-tabs li a {
    display: inline-block;
}

span.comments-details ul.nav.nav-tabs li a h4 {
    font-size: 18px;
    margin: 0px;
}

span.comments-details .tab-content {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

span.comments-details ul.media-list {
    padding: 10px;
    background: #f7f7f7;
}

span.comments-details ul.media-list h4.media-heading.reviews {
    font-size: 20px;
    font-weight: bold;
    color:#000;
}

span.comments-details ul.media-list h4.media-heading.reviews span {
    display: block;
    font-size: 12px;
    float: right;
    text-align: right;
}


span.comments-details  .well.well-lg {
    display: inline-block;
    width: 100%;
}

span.comments-details ul.media-list li.media {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px #0000004a;
}

h4.media-heading.reviews {
    font-size: 20px;
    font-weight: bold;
}

h4.media-heading.reviews span {
    float: right;
    text-align: right;
    font-size: 12px;
    text-transform: capitalize;
}
/*** Comment add form ***/

.course-progress .unit-progress .clearfix.mb-2.mt-2 h3.col-11 {
    padding: 0px;
}

.course-progress .unit-progress .clearfix.mb-2.mt-2 .col-1 {
    padding: 0px;
}
button.btn_save_comments.btn.btn-primary.my-1.pull-left {
    margin-top: 10px !IMPORTANT;
}

label.col-sm-2.control-label {
    float: left;
}

#schedule_file_form .file-upload-wrapper {
    $defaultColor: #454545;
    $height: 40px;
    
    position: relative;
    width: 100%;
    height: $height;
    
    &:after {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      background: #f3f3f4;
      padding: 10px 15px;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      height: $height;
      color: #999;
      border-radius: 5px 10px 10px 5px;
      font-weight: 300;
    }
    
    &:before {
      content: 'Upload';
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: $height;
      background: $defaultColor;
      color: #fff;
      z-index: 25;
      line-height: $height;
      padding: 0 15px;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
    }
    
    &:hover {
      &:before {
        background: darken($defaultColor, 10%);
      }
    }
     input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      height: $height - 20px;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
    }
  }


/********Attachment-comments*************/

form#schedule_file_form {
    width: 60%;
    margin: 0 auto;
}

form#schedule_file_form label.col-sm-2.control-label {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    justify-content: center;
}

span.commentfile-details {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

span.commentfile-details ul.media-list {
    margin: 0px;
    padding: 0px;
}

span.commentfile-details ul.media-list li.media {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #00000063;
    background: #cccccc45;
    border: 1px solid #ddd;
}

span.commentfile-details ul.media-list li.media h4.media-heading.reviews {
    font-weight: bold;
    color: #000;
}

span.commentfile-details ul.media-list li.media .files-list {
    background: #fff;
    display: inline-block;
    padding: 0px 10px 0px 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 10px;
}

form#comment_form {
    width: 100%;
    display: inline-block;
    padding: 0px 15px;
}


.unit-progress  ul.media-list {
    background: none !important;
}

form#comment_form label.col-sm-2.control-label {
    font-size: 16px;
    font-weight: bold;
}

form#comment_form textarea#comment {
    background: #dddddd40;
    border-radius: 5px;
}

span.commentfile-details .well.well-lg {
    display: flex;
    align-items: center;
}

span.commentfile-details .well.well-lg .media-comment.pull-left {
    width: 80%;
}

span.commentfile-details .well.well-lg h4.media-heading.reviews {
    width: 100%;
}
span.commentfile-details ul.media-list li.media h4.media-heading.reviews {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px;
}
span.commentfile-details ul.media-list li.media h4.media-heading.reviews span {
    font-weight: 500;
    padding: 0px 10px;
}

form#schedule_file_form .form-group.row {
    margin-bottom: 0px;
}
span.commentfile-details ul.media-list li.media .files-list {
    margin-top: 0px;
}

/******Toggle button css*****/

.reminder_toggle .toggle.btn.btn-primary label.btn.btn-primary.toggle-on {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
    padding-top: 3px;
    border: 1px solid #1bb394;
}
.reminder_toggle .toggle-off {
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #1bb394;
    padding-top: 3px;
}
.reminder_toggle label {
    display: block;
}

button.btn.btn-primary.drr_view_email_preview_btn {
    font-size: 12px;
    padding: 8px 7px;
    margin: 1px;
}
.hide{
    display: none;
}

/*****focus****/
.textarea-box textarea#text {
    background: #f3f3f4;
}
.textarea-box textarea#text:focus {
    background: #fff;
}

/****Drop-Down****/
.top-navigation .navbar-nav .dropdown-menu {
    overflow: inherit;
    max-height: inherit;
}
ul#main-menus li:not(.level-menu) ul.dropdown-menu.show {
    overflow: auto;
    max-height: 55vh;
}

/** My Courses */
.course-progress .collapse h3 span {
    font-size: 14px;
    font-style: italic;
}
h3.lesson-tab {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    background: #6d767e0f;
    border-radius: 1px;
}
/*****role-edit***/

.col-12 form .col-lg-10 .btn-light {
    text-align: left;
    margin: 5px 0px;
    border: 1px solid #ddd;
}

/*tooltip**/
 .ui-tooltip {
    padding: 10px 5px !important;
    color: white !important;
    width: auto !important;
    border-radius: 5px !important;
    font-size: 9px !important;
    box-shadow: none !important;
    background-color:#000 !important; 
  }

  
/**Login page logo**/
img.logo {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}
.top-navigation .navbar-brand img {
    max-height: 50px;
}
.top-navigation .navbar-brand.navbar-logo {
    padding: 0px;
}
/**Login page logo Close**/

/**-----------footer-links------------***/
.footer-links {
    display: inline-block;
    width: 100%;
}
.footer-links ul {
    padding: 0px;
    list-style: none;
    margin-bottom: 0px !important;
}

.footer-links ul li {
    display: inline-block;
    padding: 0px 10px;
}

.footer-links ul li a {
    font-size: 14px;
    color: #232323;
}
footer .row.m-0 .col-md-4 {
    display: flex;
    align-items: center;
}

footer select#changeLanguage {
    margin-right: 10px;
}
/**-----------footer-links------------***/



/**-----------Application-form------------***/

.application_form_sctn form {
    background: white;
    padding: 10px;
    border: 1px solid #e7eaec;
}

.application_form_sctn form h1 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.application_form_sctn .form-control, .single-line {
    background: #fbfbfb;
}

.application_form_sctn span.select2-selection.select2-selection--multiple {
    background: #fafafa !important;
}

.application_form_sctn input.btn.btn-success {
    padding: 10px 30px;
    margin-top: 30px;
    margin-left: 33px;
}

.application_form_sctn .col-lg-6 {
    float: left;
    z-index: 999;
    position: relative;
}

/**-----------Application-form Thank you page------------***/
.circle-check {
    width: 100%;
    text-align: center;
    margin: 15px 0px;
}

.circle-check i {
    font-size: 95px;
    color: #39c173;
}
.thank_you-sctn {
    width: 100%;
    padding: 50px 40px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #00000047;
    border-radius: 5px;
    background:#fff;
}
.thank_you-sctn h2 {
    font-size: 50px;
    color: #232323;
    font-weight: 600;
    text-transform: capitalize;
}
.thank_you-sctn p.lead {
    font-size: 19px;
    text-transform: capitalize;
    color: #232323;
    font-weight: 400;
}
.thank_you-sctn p {
    font-size: 16px;
    line-height: 24px;
    color: #232323;
}
.thank_you-sctn a.btn {
    padding: 12px 28px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}
/* Make circles that indicate the steps of the form: */
 .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #eeeeef;
    border: 1px solid #222;
    border-radius: 50%;
    display: inline-block;
    opacity: 1;
    position: relative;
    z-index: 9;
}

  .step.active {
  background: #1ab394;
  opacity: 1;
}
.step.active::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    color: #fff;
    font-weight: 900;
}
.step.finish {
    background-color: #f6921e;
    position: relative;
    border-color: #f6921e !important;
}
.steps-rows a {display: inline-block;position: relative;padding: 0px 15px;}

 .steps-rows a span.steptext {
    display: block;
    font-size: 14px;
    color: #222;
    font-weight: 500;
}

 .steps-rows a::before {
    position: absolute;
    content: "";
    width: 110%;
    background: #616161;
    height: 2px;
    top: 8px;
    z-index: 0;
    left: 0;
}
.steps-rows {
    margin-bottom: 30px;
}
.is-invalid-radio{
color:red;
}
.top-navigation .nav > li > a {
  padding: 15px 16px !important;
}
/**footer-fixe**/
footer.fixed_application-ftr {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.application_page {
    padding-bottom: 60px;
        min-height: 98vh;
    position: relative;
}
/*hdedar-lang**/
.hdeader-lang {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hdeader-lang select#changeLanguage {
    width: auto !important;
    float: right;
    padding-right: 100px;
}
/***tab_reoder**/
.nav_tabs_reorder {
    width: 100%;
    padding: 30px 0px;
}

.nav_tabs_reorder .container {
    max-width: 100%;
}
.nav_tabs_reorder .heading_tab h1 {
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
    font-size: 24px;
    color: #232323;
    font-weight: 700;
}
.nav_tabs_reorder .nav .nav-link {
    font-size: 14px;
    color: #232323;
    border-bottom:  1px solid #ddd;
    border-radius: 0px;
    background: none;
    padding: 12px;
    font-weight: 700;
    background: #fff;
}
.nav_tabs_reorder .custom_col_3 .nav-pills {
    border: 1px solid #dddd;
}
.nav_tabs_reorder .nav .nav-link:last-child {
    border-bottom: 0px;
}
.nav_tabs_reorder .tab-content {
    background: #ffffff;
    height: 100%;
    border: 1px solid #ddd;
    padding: 15px 20px 15px;
}
.nav_tabs_reorder .tab-content .btn-block {
    background: #ffffff;
    padding: 8px 10px;
    border-radius: 2px;
    margin: 5px 0px;
    color: #000 !important;
    font-weight: 700;
}
.nav_tabs_reorder .tab-content ol.units-reorder-section.ui-sortable {
    padding: 0px;
}
.nav_tabs_reorder .nav .active {
    background: #1ab394 !important;
    color: #ffff !important;
}
.nav_tabs_reorder .tab-content .btn-success {
    width: auto;
    padding: 10px 50px;
    border: 0px;
    font-size: 16px;
    border-radius: 2px;
}
.nav_tabs_reorder  .custom_field {
    text-align: right;
}
.nav_tabs_reorder  .custom_field .btn {
    background: #1bb394;
    color: #fff;
}
.nav_tabs_reorder .tab-content h4 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
}

.nav_tabs_reorder .tab-content ol.units-reorder-section.ui-sortable {
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #bdb9b926;
}
.nav_tabs_reorder .form-fields.row .units-reorder-section {
    height: 400px;
    list-style: none;
    overflow: auto;
    background: #e7eaea !important;
}
.nav_tabs_reorder .tab-content .col-lg-6:nth-child(1) ol.units-reorder-section.ui-sortable {
    background: #1ab394 !important;
    border-color: #1ab394;
}

/**
=====================max-width 767 media==========================**/
@media (max-width: 767px) {
.col-md-3.custom_col_3 {
    margin-bottom: 10px;
}
.hdeader-lang {
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.hdeader-lang h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.gray-bg.application_form_sctn h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.application_page .application_form_sctn .row.justify-content-center {
    margin: 0px;
}
.steps-rows a::before {
   width: 103%;
 }
 .thank_you-sctn {
    width: 90%;
    padding: 30px 20px;
}
.thank_you-sctn h2 {
    font-size: 33px;
 }
.thank_you-sctn p {
    font-size: 14px;
}
.thank_you-sctn p.lead {
    font-size: 15px;
  }
  

}
